<form [formGroup]="profileForm" novalidate (submit)="onSubmit()">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
     <div class="form-group">
        <label class="col-auto my-1" for="name">Name</label>
        <input id='name' type="text" class="form-control" formControlName="name"/>
      </div>
    </div>
    <div class="col-auto my-1">
      <div class="form-group">
        <label class="col-auto my-1" for="email">Email</label>
        <input id='email' type="text" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="col-auto my-1">
      <div class="form-group">
        <label class="col-auto my-1" for="phone_number">Phone number</label>
        <input id="phone_number" type="phone" class="form-control" formControlName='phone'>
      </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
      <button type="reset" (click)="onReset()" class="btn mb-2">Reset</button>
    </div>
  </div>
</form>
<div *ngIf="submitStatus">
  <h1>SUCCESS</h1>
</div>

