<form [formGroup]="profileForm" novalidate (submit)="onSubmit()">
  <div class="form-group">
  <label for="name">Name</label>
  <input id='name' type="text" class="form-control" formControlName="name"/>
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input id='email' type="text" class="form-control" formControlName="email">
</div>
  <div class="form-group">
    <label for="phone_number">Phone number</label>
    <input id="phone_number" type="phone" class="form-control" formControlName='phone'>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" (click)="onReset()" class="btn">Reset</button>
</form>
<div *ngIf="submitStatus">
  <h1>SUCCESS</h1>
</div>

