@import '~bootstrap/dist/css/bootstrap.min.css';

.form-control.ng-invalid.ng-touched {
  border: 2px solid red;
}

.white-color {
  background-color: white;
}

.green-color {
  background-color: green;
}

